<form class="example-form" [formGroup]="pointForm">
  <mat-form-field class="example-full-width">
    <mat-label>Kills</mat-label>
    <input matInput type="number" placeholder="How many points per kill?" formControlName="kills">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>1st placment</mat-label>
    <input matInput type="number" placeholder="How many points for 1st?" formControlName="first">
  </mat-form-field>

    <mat-form-field class="example-full-width">
    <mat-label>2nd placment</mat-label>
    <input matInput type="number" placeholder="How many points for 2nd?" formControlName="second">
  </mat-form-field>

    <mat-form-field class="example-full-width">
    <mat-label>3rd placment</mat-label>
    <input matInput type="number" placeholder="How many points for 3rd?" formControlName="third">
  </mat-form-field>

    <mat-form-field class="example-full-width">
    <mat-label>4th placment</mat-label>
    <input matInput type="number" placeholder="How many points for 4th?" formControlName="forth">
  </mat-form-field>

    <mat-form-field class="example-full-width">
    <mat-label>5th placment</mat-label>
    <input matInput type="number" placeholder="How many points for 5th?" formControlName="fifth">
  </mat-form-field>

    <mat-form-field class="example-full-width">
    <mat-label>6thplacment</mat-label>
    <input matInput type="number" placeholder="How many points for 6th?" formControlName="sixth">
  </mat-form-field>

    <mat-form-field class="example-full-width">
    <mat-label>7th placment</mat-label>
    <input matInput type="number" placeholder="How many points for 7th?" formControlName="seventh">
  </mat-form-field>

    <mat-form-field class="example-full-width">
    <mat-label>8th placment</mat-label>
    <input matInput type="number" placeholder="How many points for 8th?"  formControlName="eigth">
  </mat-form-field>

    <mat-form-field class="example-full-width">
    <mat-label>9th placment</mat-label>
    <input matInput type="number" placeholder="How many points for 9th?" formControlName="nineth">
  </mat-form-field>

    <mat-form-field class="example-full-width">
    <mat-label>10th placment</mat-label>
    <input matInput type="number" placeholder="How many points for 10th?" formControlName="tenth">
  </mat-form-field>

  
</form>